<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback Form</title>
</head>
<body>
    <form >
        
        <h1>Feedback form</h1>
        <table>
            <tr>
                <td>
                    <label for="Name">Name: </label>
                </td>
                <td>
                    <input type="text" name="name" id="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email: </label>
                </td>
                <td>
                    <input type="email" name="email" id="email">
                </td>
            </tr>
        </table>
        
        
        <p>Please check all the emotions that apply to you:</p>
        <ul>
            <li><input type="checkbox" name="angry" id="angry" checked="checked">Angry</li>
            <li><input type="checkbox" name="sad">Sad</li>
            <li><input type="checkbox" name="happy">Happy</li>
            <li><input type="checkbox" name="ambivalent">Ambivalent</li>
        </ul>
        <p>How satisfied were you with our service?</p>
        <ul>
            <li><input type="radio" name="satisfaction" id="verySatisfied" checked="checked">Very satisfied</li>
            <li><input type="radio" name="satisfaction" id="satisfied">Satisfied</li>
            <li><input type="radio" name="satisfaction" id="didNotCare">Didn't care</li>
            <li><input type="radio" name="satisfaction" id="dissatisfied">Dissatisfied</li>
            <li><input type="radio" name="satisfaction" id="veryDissatisfied">Very dissatisfied</li>
        </ul>
        <label for="further comments">Further comments: </label>
        <textarea name="further comments" id="comments" cols="30" rows="4"></textarea>
        <br>
        <pre >          <input type="submit" value="submit"></pre>
    </form>
</body>
</html>