<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <table>

        <tr>
            <td>
                <a href="reservation.html"><img src="../../resources/images/hotelroom.jpeg" alt="Hotel rooms" title="Reserve a room."></a>
            </td>
        </tr>
        <tr>
            <td >
                <a href="reservation.html#pizzaDelivery"><img src="../../resources/images/pizza.png" alt="Pizza delivery" title="Order Pizza."></a>
            </td>
        </tr>
        <tr>
            <td align="center">
                Looking for a job?
                <a href="jobapplication.html"><button title="Apply for a job.">Apply</button></a>
                <a href="feedback.html" title="Give feedback">Give feedback</a>
            </td>
        </tr>
    </table>

</body>
</html>