<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application</title>
</head>
<body>
    <form>
        <fieldset>    
            <legend>Personal Information</legend>
            <table>
                <tr>
                    <td>
                        <label for="position">Position: </label>
                    </td>
                    <td>
                        <select name="position" id="position" autofocus>
                            <option value="sales">Sales</option>
                            <option value="marketing">Marketing</option>
                            <option value="it">IT</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="name">Name: </label>
                    </td>
                    <td>
                        <input type="text" name="name" id="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="nationality">Nationality: </label>
                    </td>
                    <td>
                        <input type="text" name="nationality" id="nationality">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="birthdate">Birthdate: </label>
                    </td>
                    <td>
                        <input type="date" name="bod" id="bod" autocomplete="bday">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="address">Address: </label>
                    </td>
                    <td>
                        <textarea name="address" id="address" cols="30" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="telephone">Telephone: </label>
                    </td>
                    <td>
                        <input type="tel" name="telephone" id="telephone">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="UserEmail">Email: </label>
                    </td>
                    <td>
                        <input type="email" name="userEmail" id="userEmail" required="required">
                    </td>
                </tr>
            </table>
        </fieldset><br>
        <fieldset>
            <legend>Educational Background</legend>
            <table>
                <tr>
                    <td>
                        <label for="highestEducation">Highest education level: </label>
                    </td>
                    <td>
                        <select name="highestEducation" id="educ">
                            <option value="high">High School Diploma</option>
                            <option value="degree">Degree</option>
                            <option value="doctrate">Doctrate</option>
                            <option value="phd">PHD</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="qual">Qualifications</label></td>
                    <td>
                        <input type="checkbox" name="qual">Time Management<br>
                        <input type="checkbox" name="qual">People Managment<br>
                        <input type="checkbox" name="qual">Inter Personal Communication<br>
                        <input type="checkbox" name="qual">Verbal Communication<br>
                        <input type="checkbox" name="qual">Organizational Skills<br>
                        <input type="checkbox" name="qual">Team Work<br>
                    </td>
                </tr>
            </table>
        </fieldset><br>
        <fieldset>
            <legend>Work Experience</legend>
            <table>
                <tr>
                    <td>
                        <label for="years">Number of years(0-10): </label>
                    </td>
                    <td>
                        <input type="range" name="years" id="years" min="0" max="10" value="0" step="1">
                    </td>
                </tr>
            </table>
        </fieldset><br>
        <fieldset>
            <legend>Personal Statement</legend>
            <textarea name="personalStatement" id="ps" cols="40" rows="10" placeholder="Tell us about you."></textarea>
        </fieldset><br>
        <fieldset>
            <legend>Refrees</legend><br>
            <details>
                <summary>Refree1</summary>
                <table>
                    <tr>
                    <td>
                        <label for="refree1Name">Name: </label>
                    </td>
                    <td>
                        <input type="text" name="refree1Name" id="name">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="refree1Occupation">Occupation: </label>
                    </td>
                    <td>
                        <input type="text" name="refree1Occupation" id="name">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="refree1rel">Relationship: </label>
                    </td>
                    <td>
                        <input list="rel" name="rel" id="rel">
                        <datalist name="rel">
                            <option value="Employer">Employer</option>
                            <option value="Mentor">Mentor</option>
                        </datalist>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="address">Address: </label>
                    </td>
                    <td>
                        <textarea name="address" id="address" cols="30" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ref1telephone">Telephone: </label>
                    </td>
                    <td>
                        <input type="tel" name="ref1telephone" id="ref1telephone">
                    </td>
                </tr>
                </table>
            </details>
            <details>
                <summary>Refree2</summary>
                <table>
                    <tr>
                    <td>
                        <label for="refree2Name">Name: </label>
                    </td>
                    <td>
                        <input type="text" name="refree2Name" id="name">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="refree2Occupation">Occupation: </label>
                    </td>
                    <td>
                        <input type="text" name="refree2Occupation" id="name">
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="refree2rel">Relationship: </label>
                    </td>
                    <td>
                        <input list="rel" name="rel" id="rel">
                        <datalist name="rel" id="rel">
                            <option value="Employer">Employer</option>
                            <option value="Mentor">Mentor</option>
                        </datalist>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <label for="address">Address: </label>
                    </td>
                    <td>
                        <textarea name="address" id="address" cols="30" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ref2telephone">Telephone: </label>
                    </td>
                    <td>
                        <input type="tel" name="ref2telephone" id="ref2telephone">
                    </td>
                </tr>
                </table>
            </details>
        </fieldset>
        <input type="submit" value="Submit">
        <input type="reset" value="Clear Form">
    </form>
</body>
</html>